.main{
    background-color: rgb(240, 247, 141);
    width: 400px;
    border-radius: 20px;
    border: solid 2px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.task-manager{
    color:#414d00;
}

.add-tasks{
    display: grid;
    grid-template-columns: 1fr 80px;
    width: 360px;
}

.add-tasks-input{
    width: 260px;
    height: 25px;
    border-radius: 6px;
    border-color: #000000;
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;

}

.add-tasks-button{
    width: 90px;
    height: 31px;
    border-radius: 6px;
    border-color: #000000;
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
    background-color: #75f190;
}

.one-task{
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    margin: 10px 0px;
    height: 31px;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

.item{
    background-color:#a3b440;
    height: 27px;
    width: 260px;
    border-radius: 6px;
    border-color: black;
    border: solid 2px;
    grid-row: 1;
    grid-column: 1;
    padding-left: 5px;
    display: flex;
    align-items: center;
    color: #2c3303;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.delete-button{
    height: 31px;
    width: 90px;
    border-radius: 6px;
    border: solid 2px;
    grid-row: 1;
    grid-column: 2;
    border-color:#000000;
    background-color: #75f190;
    font-size: 16px;
}
